:root {
    --foreground-color: #ddd;
    --background-color: #222;
    --anchor-color: white;
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 1em;
}

h1 {
    font-size: 2em;
    margin-bottom: .5em;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0;
}

a {
    color: var(--anchor-color);
    text-decoration: none;
}

#social {
    text-align: center;
}

#social i {
    margin-right: .5em; /* Add spacing between icon and text */
    vertical-align: middle;
}

footer {
    text-align: center;
    margin: 2em;
}

#social a {
    transition: all 500ms ease;
    perspective: 100px;
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    padding: .5em;
}
#social a:hover {
    background-color: rgba(255, 255, 255, 0.0666666667);
    transform: scale(200%) rotate3d(1, 1, 1, 5deg);
    background: no-repeat var(--foreground-color) linear-gradient(95deg, var(--foreground-color) 40%, var(--background-color) 35%, var(--foreground-color) 44%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: bgShine 3s infinite;
}
#social li:nth-child(2n) a:hover {
    transform: scale(150%) rotate3d(1, 1, 1, -5deg);
}
@keyframes bgShine {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: -100%;
    }
}
